<table class="table">
    <thead>
        <th>Id</th>
        <th>Model</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Ücret</th>
        <th>Açıklama</th>
        <th>Marka</th>

    </thead>
   

    <tr *ngFor="let car of cars">

        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
        <td>{{car.carName}}</td>
    <button type="button" class="btn btn-outline-success" routerLink="/cars/carDetails/{{car.id}}">Araç Detay</button>

    </tr>


</table>
